*{
padding: 0%;
margin: 0%;
}
.container{
    max-width: 1300px;
    margin: auto;
}

.my-btn{
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    background-color:#30B868;

}

 nav{
    display: flex;
    background-color:#aa8383;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    
    
 }

 .parrent {
    display: flex;
    gap: 20px;
    text-decoration: underline;
 }


 .badge {
    color:  #16a34a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-style: bold;
    background-color: #cbd5f5;
}
 .hero { 
    background-image: url("./assets/hero-bg.png");
    text-align: center;
    padding: 100px 10%;
    background-repeat: no-repeat;
    background-position: center;
    
    }

.hero h1 {
    font-size: 3rem;
    margin: 20px 0;
    color: #cbd5f5;
    }

.hero h1 span { 
    color: #22c55e;
    }

.hero p {
    max-width: 700px;
    margin: 0 auto 30px;
    color: #cbd5f5;
        }

.hero-buttons a {
    margin: 10px;
    font-size: 14px;
    color: aliceblue;
    
}

.btn-1{
    border-radius: 8px;
    padding: 10px 10px 10px 20px;
    font-weight: 500;
    background-color:#30B868;
    text-decoration: none;
    
}

.btn-2 {
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    background-color:transparent;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid rgb(245, 239, 239);
    border-radius: 4px;
}

.main {
    padding: 50px 10%;
    text-align: center;
    font-size: 30px;
}

.main2{
    font-size: 15px;
}


.pillar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    background: rgba(249, 85, 85, 1);
    width: 32px;
    height: 32px;

   width: 322px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;
padding: 24px;


}